## Hello world!

In [1]:
print("Hello world!")

Hello world!

In [2]:
#for 변수 in 리스트(튜플, 문자열):
#    실행 문장1
#    실행 문장2

In [3]:
for a in [1,2,3]:
    print(a)
1
2
3

1
2
3

3

In [4]:
for a in [(1,3),{5,7},9]:
    print(a)

(1, 3)
{5, 7}
9

In [5]:
for(a,b) in[(1,2),(3,4),(5,6)]:
    print(a+b)

3
7
11

In [6]:
(a,b)=(1,2)
print(a)
print(b)
print(a,b)

1
2
1 2

In [7]:
a='Hello'
b=['Hello!','World!']
c=(1,2,3)

In [8]:
for x in a:
    print(a)

Hello
Hello
Hello
Hello
Hello

In [9]:
for x in a:
    print(x, end=" ")

H e l l o

In [10]:
for x in b:
    print(x)

Hello!
World!

In [11]:
for x in c:
    print(x)

1
2
3

In [12]:
d={'circle':2, 'rectangle':3, 'line':1}
e={'red','green','blue','red'}

In [13]:
for x in d:
    print(x)

circle
rectangle
line

In [14]:
for x in e:
    print(x)

green
blue
red

d.sort()

In [15]:
for x in d:

SyntaxError: unexpected EOF while parsing (<ipython-input-15-c238a965fe66>, line 1)

In [16]:
for x in d:
    print(x)

circle
rectangle
line

In [17]:
for x in e:
    print(x)

green
blue
red

In [18]:
Score=[100,7,75,32]
num=0
for a in Score:
    num = num+1
    if a>=70:
        print('%d번 합격' %num)
    else:
        print('%d번 불합격' %num)

1번 합격
2번 불합격
3번 합격
4번 불합격

In [19]:
for a in Score:
    num=num+1
    if a>=70:
        countinue
    else:
        print('%d번 합격' %num)

NameError: name 'countinue' is not defined

In [20]:
for a in Score:
    num=num+1
    if a>=70:
        continue
    else:
        print('%d번 합격' %num)

7번 합격
9번 합격

In [21]:
a=range(10)
print(a)

a=0
for b in range(10):
    a=a+b
    print(a)

range(0, 10)
0
1
3
6
10
15
21
28
36
45

In [22]:
a=[100,7,75,32]
for b in range(len(a)):
    if a[b] < 60:
        continue
    print("%d번 합격" %(b+1))
    
len(a)
range(4)

1번 합격
3번 합격

range(0, 4)

In [23]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b, end=" ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [24]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [25]:
a=0
for b in [1,2,3,4,5,6,7,8,9,10]:
    a=a+b
    print('1부터 10까지 합은 ',a,'입니다.')

1부터 10까지 합은  1 입니다.
1부터 10까지 합은  3 입니다.
1부터 10까지 합은  6 입니다.
1부터 10까지 합은  10 입니다.
1부터 10까지 합은  15 입니다.
1부터 10까지 합은  21 입니다.
1부터 10까지 합은  28 입니다.
1부터 10까지 합은  36 입니다.
1부터 10까지 합은  45 입니다.
1부터 10까지 합은  55 입니다.

In [26]:
lst=[1,2,3,4,5]
result=[]
for num in lst:
    result.append(num*3)
print(result)

[3, 6, 9, 12, 15]

In [27]:
res=[num*3 for num in lst]
print(res)

[3, 6, 9, 12, 15]

In [28]:
ress=[num*3 for num in lst if num%2==0]
print(ress)

[6, 12]

In [30]:
#while 조건문:
#    실행문

In [ ]:
a=1
while a<=5:
    print(a)
    a= a+1

In [ ]:
a=1
b=0
while a<=100:
    b=b+a
    a=a+1
print('1부터 100까지의 합은',b)