# 검색: 사람이 능동적으로 찾는 것.
# 추천: 사람에게 (과거데이터 기반) 찾아주는 것

## 필터 버블
### 필터링된 정보는 편리하지만, 고정관념이나 편견을 강화할 수 있고 생각이나 감정이 조작될 수 있음

## 1984 vs 멋진 신세계
## 정보검열 vs 무질서 정보

# 추천시스템 : 
1. 나와 비슷한 사람을 찾아, 그 사람의 과거를 추천해줌.(비슷하기 때문에 가능성 측면)
2. 나의 과거에서 미래를 예측한다.

=> 사람기반/콘텐츠 기반 (협업 필터링/콘텐츠 기반 필터링)

## 협업 필터링
비슷하다의 기준: 과거의 패턴(구매, 행동)
(콘텐츠 끼리의 유사도도 찾는다.)

#### 문제: 
콜드 스타트: 신규 콘텐츠에 대해 (정보가 안쌓여서) 추천이 어려워지고 품질이 저하됨.
롱테일 : 소수의 인기항목에만 몰려서, 다수의 항목은 정보가 부족해짐. 정보의 쏠림
독특한(애매하거나 이상한 사람) 고객 : Gray sheep, black sheep

## 콘텐츠 기반 필터링
찾았던 콘텐츠 끼리의 유사도를 찾는것. (난이도가 높다) => '콘텐츠 끼리의 관계'찾는 것이 핵심.

# => 대부분 이 두가지를 합쳐서 쓴다.

## Serendipity : 우연성

## 콜드 스타트(cold start) 문제
- 새로 시작할 때의 곤란함.
- 이용자의 행동 데이터가 충분히 모이지 않아 추천이 어려운 상황을 지칭.

# 유사도를 어떻게 측정하느냐?

In [ ]:
# # Memory Based

## 준비
# 1. index, column 설정
# 2. 행동 데이터 입력
# 3. 수치화(binary: 0/1, 다른 수치:평점..  빈칸은 0 처리)
# 4. column(핀처, Dimension) / index(vector화) => matrix로 만든다.

## 시작(유사도 찾기)
# 1. 상관계수를 넣어서 유사도를 수치로 표현한다.
# 2. 유사도가 제일 큰(숫자가 제일 큰) 몇명을 찾는다.
# 3. sorting후, 4명이 샀던거를 나열한 후/ 내가 구매한 것을 찾는다.
# 4. 남은 것 중 유사도가 제일 큰 사람껄 추천 or 그 그룹에서 제일 많이 산 것
# 5. 



## Contents Based  -> 과거 행동과는 연관없고, 그저 콘텐츠 끼리만의 본석.
# 1. Meta데이터끼리 각 고유의 속성끼리만 계산.
# 2.

## 대체재, 보완재

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/David/ml-100k/u.data')

In [4]:
data_raw = data.copy()

In [7]:
data_raw = data_raw.dropna()

In [8]:
data = data_raw.copy()

In [10]:
data.info

#196   user id
#242   item id
#3     ratin
#881250949

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99999 entries, 0 to 99998
Data columns (total 1 columns):
196	242	3	881250949    99999 non-null object
dtypes: object(1)
memory usage: 1.5+ MB

In [11]:
data

        196\t242\t3\t881250949
0       186\t302\t3\t891717742
1        22\t377\t1\t878887116
2        244\t51\t2\t880606923
3       166\t346\t1\t886397596
4       298\t474\t4\t884182806
5       115\t265\t2\t881171488
6       253\t465\t5\t891628467
7       305\t451\t3\t886324817
8          6\t86\t3\t883603013
9        62\t257\t2\t879372434
10     286\t1014\t5\t879781125
11      200\t222\t5\t876042340
12       210\t40\t3\t891035994
13       224\t29\t3\t888104457
14      303\t785\t3\t879485318
15      122\t387\t5\t879270459
16      194\t274\t2\t879539794
17     291\t1042\t4\t874834944
18     234\t1184\t2\t892079237
19      119\t392\t4\t886176814
20      167\t486\t4\t892738452
21      299\t144\t4\t877881320
22      291\t118\t2\t874833878
23        308\t1\t4\t887736532
24       95\t546\t2\t879196566
25        38\t95\t5\t892430094
26      102\t768\t2\t883748450
27       63\t277\t4\t875747401
28      160\t234\t5\t876861185
29       50\t246\t3\t877052329
...                        ...
99969   449\t120\t1\t879959573
99970   661\t762\t2\t876037121
99971   721\t874\t3\t877137447
99972   821\t151\t4\t874792889
99973   764\t596\t3\t876243046
99974   537\t443\t3\t886031752
99975   618\t628\t2\t891308019
99976   487\t291\t3\t883445079
99977   113\t975\t5\t875936424
99978   943\t391\t2\t888640291
99979   864\t685\t4\t888891900
99980   750\t323\t3\t879445877
99981    279\t64\t1\t875308510
99982   646\t750\t3\t888528902
99983   654\t370\t2\t887863914
99984   617\t582\t4\t883789294
99985   913\t690\t3\t880824288
99986   660\t229\t2\t891406212
99987   421\t498\t4\t892241344
99988  495\t1091\t4\t888637503
99989   806\t421\t4\t882388897
99990   676\t538\t4\t892685437
99991   721\t262\t3\t877137285
99992   913\t209\t2\t881367150
99993    378\t78\t3\t880056976
99994   880\t476\t3\t880175444
99995   716\t204\t5\t879795543
99996  276\t1090\t1\t874795795
99997    13\t225\t2\t882399156
99998    12\t203\t3\t879959583

[99999 rows x 1 columns]